/*
 * RaterApi
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.InlineObject;
import org.openapitools.client.model.InlineResponse201;
import org.openapitools.client.model.InlineResponse400;
import org.openapitools.client.model.InlineResponse401;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class GamesApi {
    private ApiClient localVarApiClient;

    public GamesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public GamesApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for authLogin
     * @param inlineObject  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Wrong credentials response </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Wrong credentials response </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unathourized request, you need api token </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call authLoginCall(InlineObject inlineObject, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = inlineObject;

        // create path and map variables
        String localVarPath = "/api/games";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call authLoginValidateBeforeCall(InlineObject inlineObject, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'inlineObject' is set
        if (inlineObject == null) {
            throw new ApiException("Missing the required parameter 'inlineObject' when calling authLogin(Async)");
        }
        

        okhttp3.Call localVarCall = authLoginCall(inlineObject, _callback);
        return localVarCall;

    }

    /**
     * Create a game
     * Create a game by name
     * @param inlineObject  (required)
     * @return InlineResponse201
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Wrong credentials response </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Wrong credentials response </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unathourized request, you need api token </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse201 authLogin(InlineObject inlineObject) throws ApiException {
        ApiResponse<InlineResponse201> localVarResp = authLoginWithHttpInfo(inlineObject);
        return localVarResp.getData();
    }

    /**
     * Create a game
     * Create a game by name
     * @param inlineObject  (required)
     * @return ApiResponse&lt;InlineResponse201&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Wrong credentials response </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Wrong credentials response </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unathourized request, you need api token </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse201> authLoginWithHttpInfo(InlineObject inlineObject) throws ApiException {
        okhttp3.Call localVarCall = authLoginValidateBeforeCall(inlineObject, null);
        Type localVarReturnType = new TypeToken<InlineResponse201>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create a game (asynchronously)
     * Create a game by name
     * @param inlineObject  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Wrong credentials response </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Wrong credentials response </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unathourized request, you need api token </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call authLoginAsync(InlineObject inlineObject, final ApiCallback<InlineResponse201> _callback) throws ApiException {

        okhttp3.Call localVarCall = authLoginValidateBeforeCall(inlineObject, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse201>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
